* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.clear {
    clear: both;
}

body {
    background-color: #eee;
}

.container {
    width: 1200px;
    margin: 0 auto;
    min-width: 700px;
}
/* 顶部导航 */
.top {
    width: 100%;
    line-height: 90px;
    position: fixed;
    top: 0px;
    background-color: #f4f7f6;
    z-index: 1;
    min-width: 850px;
}


.top .brand {
    float: left;
}

.top .brand a {
    color: #000;
}

.navbar a {
    margin: 0px 10px;
    float: right;
    font-size: 24px;
    color: #aaa;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.navbar a:hover {
    color: #333;
}
/*===== E = 顶部 ===== */

/*===== S = 院系列表 ===== */

.content {
    max-width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    margin: 140px auto;
    clear: both;
    box-sizing: border-box;
    color: #555;
}

/*.content_position {
	margin: 20px;
}
.content_position a {
	text-decoration: none;
	color: #555;
}

.content a:hover {
    color: #000;
}

.content_title h2{
	margin:20px;
	border-bottom: 2px solid #009fe9;
	/*line-height: 50px;*!/
}*/

.content_show {
    width: 1300px;
    overflow: hidden;
    padding: 30px 30px;
    margin: 25px 40px;
}

.content img {
	float: left;
	margin: 30px;
	padding: 1px;
	text-align: center;
	max-width:30%;
	border-radius: 7px;
	height: auto;
	color: #555;
	box-shadow: 2px 2px 3px #ccc;
}

.tea_info {
    float: right;
    width: 500px;
    padding: 20px 100px 20px 20px;
}

.tea_info li {
    padding: 15px 0;
    border-bottom: 1px dashed #aaa;
}

.tea_name {
	font-size: 20px;
	font-weight: bold;
	margin-right: 20px;
}

.tea_job_title {
	font-size: 16px;
    color: #999;
}

.courses_info {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    margin: 0px 25px;
}

.courses_info .hd {
    font-size: 20px;
    height: 50px;
    background: #009fe9;
    padding: 0px 20px;
    vertical-align: center;
    position: relative;
    line-height: 50px;
    color: #fff;
}

.courses_info .bd {
	font-size: 15px;
	padding: 0px 40px;
	line-height: 40px;
}

.courses_info .bd a {
	text-decoration: none;
	color: #555;
}

.courses_info .bd a:hover {
	color: #000;
}

footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255,255, 0.1);
    font-size: 12px;
    clear: both;
}