<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建课程 - HAERMS</title>
    <link rel="stylesheet" href="../style/css/index.css">
    <link rel="stylesheet" href="../style/css/classes.css">
    <link rel="stylesheet" href="../style/css/teacher-style.css">
    <link rel="stylesheet" href="../style/css/form-controls.css">
</head>
<body>
<div class="top">
    <div class="container">
        <div class="brand">
            <h1><a href="#">作业与实验报告管理系统 - 教师后台</a></h1>
        </div>
        <div class="navbar">
            <a href="#">登录</a>
            <a href="#">注销</a>
            <a href="#">修改密码</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="main-container create-class-main-container">
    <div class="main-content card">
        <h2><input title="课程名称" placeholder="课程名称" class="create-course-h2  input-style"></h2>
        <h5 class="teacher">陈晓江/肖云</h5>
        <hr>
        <div class="paragraphs">
            <textarea title="课程简介" placeholder="课程简介" rows="8" class="input-style"></textarea>
        </div>
    </div>
    <div class="main-content card">
        <h2>课程概述</h2>
        <hr>
        <div class="paragraphs">
            <textarea title="课程简介" placeholder="课程简介" rows="14" class="input-style"></textarea>
        </div>
    </div>

    <div class="main-content card">
        <h2>课程时间</h2>
        <hr>
        <table class="class-hour-table" border="2">
            <tr>
                <td class="table-head">开课时间</td>
                <td>
                    <input title="开始时间" type="date" class="input-style" min="2017-09-01" max="2099-12-31">
                    -
                    <input title="结束时间" type="date" class="input-style" min="2017-09-01" max="2099-12-31">
                </td>
            </tr>
            <tr>
                <td class="table-head">课时安排</td>
                <td>
                    理论<input title="理论课时" type="number" class="input-style" min="1" max="300">课时
                    +
                    实验<input title="实验课时" type="number" class="input-style" min="1" max="300">课时
                </td>
            </tr>
        </table>
    </div>

    <div class="main-content card">
        <h2>上传课件</h2>
        <hr>
        <div class="table-top-form">
            <button class="btn btn-warning">添加</button>
        </div>
        <table class="attachment-table clear" id="AttachmentTable" border="2">
            <tr>
                <th>章节</th>
                <th>课件名称</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>
                    <div class="content-cell">
                        <select title="章节" class="input-style">
                            <option>一</option>
                            <option>二</option>
                            <option>三</option>
                            <option>四</option>
                            <option>五</option>
                            <option>六</option>
                            <option>七</option>
                            <option>八</option>
                            <option>九</option>
                            <option>十</option>
                            <option>十一</option>
                            <option>十二</option>
                            <option>十三</option>
                            <option>十四</option>
                            <option>十五</option>
                            <option>十六</option>
                            <option>十七</option>
                            <option>十八</option>
                            <option>十九</option>
                            <option>二十</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="content-cell">
                        <input type="text" title="课件名称" placeholder="在这里输入课件名称" class="input-style">
                    </div>
                </td>
                <td>
                    <div class="content-cell">
                        <input type="file" class="btn btn-danger input-style" >
                        <button class="btn btn-primary">上传</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="main-content card">
        <h2>课程实验</h2>
        <hr>
        <div class="table-top-form">
            <button class="btn btn-warning">添加</button>
        </div>
        <div class="experiments " onclick="expandOrCollapse(event)">
            <div class="an-experiment">
                <div class="title-box" id="title-box-0">
                    <img src="../style/images/down_arrow.svg" id="img-0">
                    <span class="experiment-name" id="experiment-name-0">
                        <input title="实验名称" placeholder="实验名称" class="create-course-h4 input-style">
                    </span>
                    <span class="experiment-deadline" id="experiment-deadline-0">
                        截止时间：
                        <input title="作业截止时间" type="date" class="input-style">
                    </span>
                </div>
                <div class="experiment-detail">
                    <div class="experiment-purpose">
                        <h4>实验目的：</h4>
                        <hr>
                        <p><textarea title="实验目的" rows="5" class="input-style"></textarea></p>
                    </div>
                    <div class="experiment-steps">
                        <h4>实验步骤：</h4>
                        <hr>
                        <div class="experiment-step">
                            <h5><input title="步骤1" type="text" class="create-course-h5 input-style" placeholder="步骤标题"></h5>
                            <p><textarea title="步骤1内容" rows="5" placeholder="该步骤详细内容" class="input-style"></textarea></p>
                        </div>
                        <div class="table-top-form">
                            <button class="btn btn-warning">添加步骤</button>
                        </div>
                    </div>
                    <div class="experiment-references">
                        <h4>参考资料：</h4>
                        <hr>
                        <div class="experiment-reference">
                            <span><input title="资料" placeholder="资料名称" class="input-style"> </span>
                            <input title="URL" placeholder="URL" class="input-style"><br>
                        </div>
                        <div class="table-top-form">
                            <button class="btn btn-warning">添加参考资料</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    Copyright &copy; All Rights Reserved &nbsp;2017
</footer>
<script>
    var flag = true;

    function expandOrCollapse(event) {
        var experiment = document.getElementsByClassName('experiment-detail')[
            parseInt(event.target.id.substr(event.target.id.lastIndexOf('-') + 1,
                event.target.id.length))];
        if (experiment !== undefined) {
            experiment.style.display = flag ? 'block' : 'none';
        }
        var img = document.getElementById('img-' + parseInt(event.target.id.substr(event.target.id.lastIndexOf('-') + 1,
            event.target.id.length)));
        if (img !== null) {
            img.src = flag ? '../style/images/up_arrow.svg' : '../style/images/down_arrow.svg';
        }
        if (img !== null && experiment !== undefined)
            flag = !flag;
    }
</script>
</body>
</html>