<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师首页 - HAERMS</title>
    <link rel="stylesheet" href="../style/css/index.css">
    <link rel="stylesheet" href="../style/css/classes.css">
</head>
<body>
<div class="top">
    <div class="container">
        <div class="brand">
            <h1><a href="#">作业与实验报告管理系统</a></h1>
        </div>
        <div class="navbar">
            <a href="#">登录</a>
            <a href="#">注销</a>
            <a href="#">修改密码</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="">
    <nav class="sidebar">
        <div class="card">
            <img src="../style/images/1444660450180.jpg" class="image-item teacher-image"/>
        </div>
        <ul class="list-class card">
            <li class="list-class-item selected-class-item">
                <a href="#">简介</a>
            </li>
            <li class="list-class-item">
                <a href="#">课件</a>
            </li>
            <li class="list-class-item">
                <a href="#">实验</a>
            </li>
            <li class="list-class-item">
                <a href="#">作业</a>
            </li>
        </ul>
    </nav>
</div>
<footer>
    Copyright &copy; All Rights Reserved &nbsp;2017
</footer>
</body>
</html>