<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 not found - HAERMS</title>
    <link rel="shortcut icon" href="../favicon.png">
    <!--<link rel="stylesheet" href="../style/css/index.css">-->
    <script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8" homePageUrl="http://yoursite.com/yourPage.html" homePageName="回到我的主页"></script>
</head>
<!--因为背景色body元素已经被定义过了，且就这么一个，故在此写为内嵌式-->
<body >
<div class="container">
    <div class="error-msg-body">
        <img src="images/cry.svg">
        <p class="error-msg-title">
            Oh-oh, page not found!
        </p>
        <p class="error-msg-description">
            Could not receive data and display the page
        </p>
    </div>
</div>
</body>
</html>