<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href="style/css/SenateList.css">
</head>
<body>
<div>
    <div class="top">
        <div class="container">
            <div class="brand">
                <img src="style/images/logo.png" />
                <h1>作业与实验报告管理系统</h1>
            </div>
            <div class="navbar">
                <a href="#" style="color:blue">教师列表</a>
                <a href="javascript:">院系列表</a>
            </div>
        </div>
    </div>
    <br />
    <div class="teacher">
        <table>
            <tr class="tr_head">
                <td>姓名</td>
                <td>工号</td>
                <td>院系</td>
                <td>简介</td>
                <td class="tr_head"></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <input type="button" class="button_delete" value="删除">
        <input type="button" class="button_submit" value="提交">
        <input type="button" class="button_create" value="新建">
    </div>
</div>
<script src="js/SenateObject.js"></script>
<script src="js/Senate.js"></script>
</body>
</html>