<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程作业 - HAERMS</title>
    <link rel="shortcut icon" href="../../favicon.png">
    <link rel="stylesheet" href="../../style/css/index.css">
    <link rel="stylesheet" href="../../style/css/classes.css">
    <link rel="stylesheet" href="../../style/css/grade.css">
    <link rel="stylesheet" href="../../style/css/form-controls.css">
</head>
<body>
<div class="top">
    <div class="container">
        <div class="brand">
            <h1><a href="#">作业与实验报告管理系统</a></h1>
        </div>
        <div class="navbar">
            <a href="#">登录</a>
            <a href="#">注销</a>
            <a href="#">修改密码</a>
        </div>
        <div class="clear"></div>
    </div>
</div>


<div class="container">
  <!-- 侧边栏 -->
    <nav class="side">
        <div class="card">
            <img src="../../style/images/1444660450180.jpg" class="image-item"/>
        </div>
        <ul class="list">
          <li class="list-sub">
            院系: <li class="list-departinfor">信息学院</li>
          </li>
          <li class="list-sub">
            学号: <li class="list-studentid">2015xxxxxx</li>
          </li>
          <li class="list-sub">
            姓名:<li class="list-studentname">xx</li>
          </li>
          <li class="list-sub">
            课程名:<li class="list-classname">计算机网络</li>
          </li>
        </ul>
    </nav>
      <!-- 侧边栏 -->
      <!-- 成绩标签 -->
    <div class="container-grade">
    <li class="housework-time">
      第1次作业:
        <span class="housework-grade">99分</span>
        <span class = "housework-evulate haspass">已通过</span>
        <span class = "housework-date">2015-11-30</span>
    </li>
      <!-- 成绩标签 -->
      <!-- 成绩标签 -->
    <li class="housework-time">
      第2次作业:
        <span class="housework-grade">99分</span>
        <span class = "housework-evulate haspass">已通过</span>
        <span class = "housework-date">2015-11-30</span>
    </li>
      <!-- 成绩标签 -->
      <!-- 成绩标签 -->
    <li class="housework-time">
      第3次作业:
        <span class="housework-grade">99分</span>
        <span class = "housework-evulate hasNotpass">未通过</span>
        <span class = "housework-date">2015-11-30</span>
    </li>
      <!-- 成绩标签 -->
    </div>
  </div>
<footer>
    Copyright &copy; All Rights Reserved &nbsp;2017
</footer>
<script>

</script>
</body>
</html>
