.main-content {
    width: 100%;
    margin-top: 97px;
}

.student-list-container {
    width: 60%;
    margin-right: 10%;
    float: right;
    padding: 15px;
}

.name {
    font-weight: bold;
}

.below-table {
    float: right;
    margin-right: 5%;
}