.content {
    padding-left: 70px;
    padding-right: 70px;
    position: relative;
    margin: 140px auto;
    clear: both;
    box-sizing: border-box;
    color: #555;
}

.content-show {
    width: 100%x;
    min-width:1000px;
    overflow: hidden;
    padding: 30px 30px;
    margin: 25px 40px;
}

.content img {
    float: left;
    margin: 30px;
    padding: 1px;
    text-align: center;
    max-width: 30%;
    border-radius: 7px;
    height: auto;
    color: #555;
    box-shadow: 2px 2px 3px #ccc;
}

.tea-info {
    float: right;
    width: 500px;
    padding: 20px 100px 20px 20px;
}

.tea-info li {
    padding: 15px 0;
    border-bottom: 1px dashed #aaa;
}

.tea-name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.tea-job-title {
    font-size: 16px;
    color: #999;
}

.courses-info {
    width:90%;
    min-width:1000px;
    position:relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    margin: 0px 25px;
}

.courses-info .hd {
    font-size: 20px;
    height: 50px;
    background: #009fe9;
    padding: 0px 20px;
    vertical-align: center;
    position: relative;
    line-height: 50px;
    color: #fff;
}

.courses-info .bd {
    font-size: 15px;
    padding: 0px 40px;
    line-height: 40px;
}

.courses-info .bd a {
    text-decoration: none;
    color: #555;
}

.courses-info .bd a:hover {
    color: #000;
}

footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 12px;
    clear: both;
}
