<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建课程 - HAERMS</title>
    <link rel="stylesheet" href="../../style/css/index.css">
    <link rel="stylesheet" href="../../style/css/classes.css">
    <link rel="stylesheet" href="../../style/css/teacher-style.css">
    <link rel="stylesheet" href="../../style/css/form-controls.css">
    <link rel="stylesheet" href="../../style/css/progressbar.css">
</head>
<body>
<div class="top">
    <div class="container">
        <div class="brand">
            <h1><a href="#">作业与实验报告管理系统 - 教师后台</a></h1>
        </div>
        <div class="navbar">
            <a href="#">登录</a>
            <a href="#">注销</a>
            <a href="#">修改密码</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="progressbar-container progressbar-margin-top">
    <ul class="progressbar">
        <li class="active">基本信息</li>
        <li>详细介绍</li>
        <li>时间安排</li>
        <li>上传课件</li>
        <li>上传实验</li>
        <li>上传作业</li>
    </ul>
</div>

<form class="main-container create-class-main-container">
    <div class="main-content card">
        <h2><input title="课程名称" placeholder="课程名称" class="create-course-h2  input-style" required="required"></h2>
        <h5 class="teacher">陈晓江/肖云</h5>
        <hr>
        <div class="paragraphs">
            <textarea title="课程简介" placeholder="课程简介" rows="8" class="input-style"></textarea>
        </div>
    </div>
    <button class="btn btn-warning">跳过</button>
    <button class="btn btn-success">完成，下一步</button>
</form>

<footer>
    Copyright &copy; All Rights Reserved &nbsp;2017
</footer>

<script>
</script>
</body>
</html>