<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建课程 - 详细介绍 - HAERMS</title>
    <link rel="stylesheet" href="../../style/css/index.css">
    <link rel="stylesheet" href="../../style/css/classes.css">
    <link rel="stylesheet" href="../../style/css/teacher-style.css">
    <link rel="stylesheet" href="../../style/css/form-controls.css">
    <link rel="stylesheet" href="../../style/css/progressbar.css">
</head>
<body>
<div class="top">
    <div class="container">
        <div class="brand">
            <h1><a href="#">作业与实验报告管理系统 - 教师后台</a></h1>
        </div>
        <div class="navbar">
            <a href="#">登录</a>
            <a href="#">注销</a>
            <a href="#">修改密码</a>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="progressbar-container progressbar-margin-top">
    <ul class="progressbar">
        <li>基本信息</li>
        <li class="active">详细介绍</li>
        <li>时间安排</li>
        <li>上传课件</li>
        <li>上传实验</li>
        <li>上传作业</li>
    </ul>
</div>

<form class="main-container create-class-main-container">
    <div class="main-content card">
        <h2>课程概述</h2>
        <hr>
        <div class="paragraphs">
            <textarea title="课程简介" placeholder="课程简介" rows="14" class="input-style"></textarea>
        </div>
    </div>
    <div class="button-group">
        <button class="btn btn-warning">跳过</button>
        <button class="btn btn-success">完成，下一步</button>
    </div>
</form>
<footer>
    Copyright &copy; All Rights Reserved &nbsp;2017
</footer>
</body>
</html>