<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程作业 - HAERMS</title>
    <link rel="shortcut icon" href="../../favicon.png">
    <link rel="stylesheet" href="../../style/css/index.css">
    <link rel="stylesheet" href="../../style/css/classes.css">
    <link rel="stylesheet" href="../../style/css/form-controls.css">
</head>
<body>
<div class="top">
    <div class="container">
        <div class="brand">
            <h1><a href="#">作业与实验报告管理系统</a></h1>
        </div>
        <div class="navbar">
            <a href="#">登录</a>
            <a href="#">注销</a>
            <a href="#">修改密码</a>
        </div>
        <div class="clear"></div>
    </div>
</div>


<div class="">
    <nav class="sidebar">
        <div class="card">
            <img src="../../style/images/course-main_image.png" class="image-item"/>
        </div>
        <ul class="list-class card">
            <li class="list-class-item">
                <a href="#">简介</a>
            </li>
            <li class="list-class-item">
                <a href="#">课件</a>
            </li>
            <li class="list-class-item">
                <a href="#">实验</a>
            </li>
            <li class="list-class-item selected-class-item">
                <a href="#">作业</a>
            </li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="main-content card">
            <h2>课程作业列表</h2>
            <hr>
            <div class="experiments" onclick="expandOrCollapse(event)">
                <div class="an-experiment">
                    <div class="title-box" id="title-box-0">
                        <img src="../../style/images/down_arrow.svg" id="img-0">
                        <span class="experiment-name" id="experiment-name-0">作业一：用JavaScript编写面向对象风格的画板</span>
                        <span class="experiment-deadline" id="experiment-deadline-0">截止时间：2017年12月21日</span>
                        <!-- 提交作业 -->
                        <span class ="experiment-uploadhomework">
                          <a href="javascript:;" class="experiment-homeworkfile btn">
                          <input type="file" name="" id="">点击这里上传作业</a>
                          </a>
                          <input type="submit" name="" value="提交作业" class="btn experiment-upload">
                        </span>
                        <!-- 提交作业-->
                    </div>
                    <div class="experiment-detail">
                        <div class="experiment-purpose">
                            <h4>作业内容</h4>
                            <hr>
                            <p>p21第五题</p>
                        </div>
                    </div>
                </div>
                <div class="an-experiment">
                    <div class="title-box" id="title-box-1">
                        <img src="../../style/images/down_arrow.svg" id="img-1">
                        <span class="experiment-name" id="experiment-name-1">作业一：用JavaScript编写面向对象风格的画板</span>
                        <span class="experiment-deadline" id="experiment-deadline-1">截止时间：2017年12月21日</span>
                        <!-- 提交作业 -->
                        <span class ="experiment-uploadhomework">
                          <a href="javascript:;" class="experiment-homeworkfile btn">
                          <input type="file" name="" id="">点击这里上传作业</a>
                          </a>
                          <input type="submit" name="" value="提交作业" class="btn experiment-upload">
                        </span>
                        <!-- 提交作业-->
                    </div>
                    <div class="experiment-detail">
                        <div class="experiment-purpose">
                            <h4>作业内容</h4>
                            <hr>
                            <p>p21第五题</p>
                        </div>
                    </div>
                </div>
                <div class="an-experiment">
                    <div class="title-box" id="title-box-2">
                        <img src="../../style/images/down_arrow.svg" id="img-2">
                        <span class="experiment-name" id="experiment-name-2">作业一：用JavaScript编写面向对象风格的画板</span>
                        <span class="experiment-deadline" id="experiment-deadline-2">截止时间：2017年12月21日</span>
                        <!-- 提交作业 -->
                        <span class ="experiment-uploadhomework">
                          <a href="javascript:;" class="experiment-homeworkfile btn">
                          <input type="file" name="" id="">点击这里上传作业</a>
                          </a>
                          <input type="submit" name="" value="提交作业" class="btn experiment-upload">
                        </span>
                        <!-- 提交作业-->
                    </div>
                    <div class="experiment-detail">
                        <div class="experiment-purpose">
                            <h4>作业内容</h4>
                            <hr>
                            <p>p21第五题</p>
                        </div>
                    </div>
                </div>
                <div class="an-experiment">
                    <div class="title-box" id="title-box-3">
                        <img src="../../style/images/down_arrow.svg" id="img-3">
                        <span class="experiment-name" id="experiment-name-3">作业一：用JavaScript编写面向对象风格的画板</span>
                        <span class="experiment-deadline" id="experiment-deadline-3">截止时间：2017年12月21日</span>
                        <!-- 提交作业 -->
                        <span class ="experiment-uploadhomework">
                          <a href="javascript:;" class="experiment-homeworkfile btn">
                          <input type="file" name="" id="">点击这里上传作业</a>
                          </a>
                          <input type="submit" name="" value="提交作业" class="btn experiment-upload">
                        </span>
                        <!-- 提交作业-->
                    </div>
                    <div class="experiment-detail">
                        <div class="experiment-purpose">
                            <h4>作业内容</h4>
                            <hr>
                            <p>p21第五题</p>
                        </div>
                    </div>
                </div>
                <div class="an-experiment">
                    <div class="title-box" id="title-box-4">
                        <img src="../../style/images/down_arrow.svg" id="img-4">
                        <span class="experiment-name" id="experiment-name-4">作业4：用JavaScript编写面向对象风格的画板</span>
                        <span class="experiment-deadline" id="experiment-deadline-4">截止时间：2017年12月21日</span>
                        <!-- 提交作业 -->
                        <span class ="experiment-uploadhomework">
                          <a href="javascript:;" class="experiment-homeworkfile btn">
                          <input type="file" name="" id="">点击这里上传作业</a>
                          </a>
                          <input type="submit" name="" value="提交作业" class="btn experiment-upload">
                        </span>
                        <!-- 提交作业-->
                    </div>
                    <div class="experiment-detail">
                        <div class="experiment-purpose">
                            <h4>作业内容</h4>
                            <hr>
                            <p>p21第五题</p>
                        </div>
                    </div>
                </div>
                <div class="an-experiment">
                    <div class="title-box" id="title-box-5">
                        <img src="../../style/images/down_arrow.svg" id="img-5">
                        <span class="experiment-name" id="experiment-name-5">作业6：用JavaScript编写面向对象风格的画板</span>
                        <span class="experiment-deadline" id="experiment-deadline-5">截止时间：2017年12月21日</span>
                        <!-- 提交作业 -->
                        <span class ="experiment-uploadhomework">
                          <a href="javascript:;" class="experiment-homeworkfile btn">
                          <input type="file" name="" id="">点击这里上传作业</a>
                          </a>
                          <input type="submit" name="" value="提交作业" class="btn experiment-upload">
                        </span>
                        <!-- 提交作业-->
                    </div>
                    <div class="experiment-detail">
                        <div class="experiment-purpose">
                            <h4>作业内容</h4>
                            <hr>
                            <p>p21第五题</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer>
    Copyright &copy; All Rights Reserved &nbsp;2017
</footer>
<script>
    /*var titleBox = document.getElementsByClassName('title-box');
    for (var box in titleBox) {
        titleBox[box].addEventListener('mouseover', function () {

        })
    }*/
    var flag = true;

    function expandOrCollapse(event) {
        var experiment = document.getElementsByClassName('experiment-detail')[
            parseInt(event.target.id.substr(event.target.id.lastIndexOf('-') + 1,
                event.target.id.length))];
        if (experiment !== undefined) {
            experiment.style.display = flag ? 'block' : 'none';
        }
        var img = document.getElementById('img-' + parseInt(event.target.id.substr(event.target.id.lastIndexOf('-') + 1,
            event.target.id.length)));
        if (img !== null) {
            img.src = flag ? '../../style/images/up_arrow.svg' : '../../style/images/down_arrow.svg';
        }
        if (img !== null && experiment !== undefined)
            flag = !flag;
    }
</script>
</body>
</html>
